# Data Science Pipeline Fynch Smart Mobility

Wij proberen met onze pipeline te bewijzen of de volgende bewering juist of onjuist is:

**...**

De deelvragen die wij met onze pipeline proberen te beantwoorden zijn als volgt:

**...** 

**...**

**...**

# 1)Import Necessary Libraries

We importeren hier de tools die we nodig hebben voor het doorzoeken en analyseren van de data.
Pandas wordt bijvoorbeeld gebruikt voor het inlezen van de excel files.
Matplotlib wordt gebruiken we later om de data op verschillende manieren te visualiseren.

In [1]:
#data analysis libraries 
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 1000000)
pd.set_option('display.max_columns', 1000000)
pd.set_option('display.width', 1000)

#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

# 2)Read in and Explore the Data

Hier worden de bestanden ingeladen.
We maken voor het trainen van de machine (machine learning) gebruik van de aangeleverde data, We splitsen de datasets in tweeen om te kijken of beide sets dezelfde uitkomsten opleveren. Een train-set en een test-set.

Allereerst zullen we de Transaction data bekijken.

In [2]:
#import train and test CSV files
train = pd.read_csv("TransactionEvents-Train.csv")
test = pd.read_csv("TransactionEvents-Test.csv")

#remove the limit of collumn shown at the same time
pd.options.display.max_columns = None

#take a look at the training data
train.describe(include="all")

        AggDatePersonModalityId         EventType AggStartDate AggModality  AggDistanceMetres   AggCo2Grams  AggCo2GramsKm  AggFuelLiters  AggFuelLiters100Km  AggCarDamagesNumber  AggStandardFuelLiters100Km  AggTrafficFinesNumber  AggCustomizedConsumption  AggStandard_kWh_Consumption                      MaskedUserId
count              29999.000000             29999        29999       29999       2.999900e+04  2.999900e+04   29999.000000        29999.0        29999.000000         29999.000000                29999.000000           29999.000000              29018.000000                 29018.000000                             29999
unique                      NaN                 1           10           4                NaN           NaN            NaN            NaN                 NaN                  NaN                         NaN                    NaN                       NaN                          NaN                              5539
top                         NaN  TransactionEvent   2019-09-01         Car                NaN           NaN            NaN            NaN                 NaN                  NaN                         NaN                    NaN                       NaN                          NaN  9FD663934CF20CD0CBA336A564A42CD1
freq                        NaN             29999         5113       27804                NaN           NaN            NaN            NaN                 NaN                  NaN                         NaN                    NaN                       NaN                          NaN                                12
mean              497597.053602               NaN          NaN         NaN       1.503666e+06  3.179742e+05     228.957911            0.0            7.123995             0.009634                    0.001407               0.034934                  7.491666                     0.062665                               NaN
std                75578.987706               NaN          NaN         NaN       1.546335e+06  4.668926e+05     506.306644            0.0            4.959431             0.120034                    0.108226               0.214436                  4.226073                     4.297915                               NaN
min               110287.000000               NaN          NaN         NaN       0.000000e+00  0.000000e+00       0.000000            0.0            0.000000             0.000000                    0.000000               0.000000                 -1.000000                    -1.000000                               NaN
25%               507479.500000               NaN          NaN         NaN       4.290000e+05  6.836307e+04      63.000000            0.0            4.890000             0.000000                    0.000000               0.000000                  5.450000                    -1.000000                               NaN
50%               514979.000000               NaN          NaN         NaN       1.325000e+06  2.920159e+05     160.540000            0.0            6.510000             0.000000                    0.000000               0.000000                  6.610000                    -1.000000                               NaN
75%               524395.500000               NaN          NaN         NaN       2.210000e+06  4.732170e+05     278.000000            0.0           10.760000             0.000000                    0.000000               0.000000                 10.070000                    -1.000000                               NaN
max               576813.000000               NaN          NaN         NaN       7.895400e+07  4.359621e+07   20666.930000            0.0           42.540000             6.000000                   11.300000               5.000000                100.000000                    25.000000                               NaN

# Data cleaning

We gaan nu de data opschonen zodat het makkelijker wordt om te gebruiken, en geen nutteloze velden bevat.

In [3]:
train["AggDistanceMetres"] = pd.to_numeric(train["AggDistanceMetres"],downcast='integer')
train = train[train.AggDistanceMetres != 0]
train = train[train.AggCo2Grams != 0]
train = train[np.isfinite(train['AggDistanceMetres'])]
train = train[np.isfinite(train['AggCo2Grams'])]

We verwijderen rijen die voor AggDistanceMetres of AggCo2Grams geen waarder bevatten. Met deze data kunnen we namelijk niets.

We maken van AggDistanceMetres een integer zodat er geen problemen mee ontstaan.

Data cleaning doen we na data analysis omdat we willen weten wat de data inhoud en wat er bruikbaar is voordat we de data gaan opschonen.

## Testdata Opschonen

In [ ]:
#kijken welke kolommen we hebben in de testdata
test.describe(include="all")

        AggDatePersonModalityId         EventType AggStartDate AggModality  AggDistanceMetres   AggCo2Grams  AggCo2GramsKm  AggFuelLiters  AggFuelLiters100Km  AggCarDamagesNumber  AggStandardFuelLiters100Km  AggTrafficFinesNumber  AggCustomizedConsumption  AggStandard_kWh_Consumption                      MaskedUserId
count              53235.000000             53235        53235       53235       5.323500e+04  5.323500e+04   53235.000000        53235.0        53235.000000         53235.000000                53235.000000           53235.000000              51880.000000                 51880.000000                             53235
unique                      NaN                 1           12           4                NaN           NaN            NaN            NaN                 NaN                  NaN                         NaN                    NaN                       NaN                          NaN                              6130
top                         NaN  TransactionEvent   2020-01-01         Car                NaN           NaN            NaN            NaN                 NaN                  NaN                         NaN                    NaN                       NaN                          NaN  FEB8EABA5FF8BF1474DEA0B0CB498D08
freq                        NaN             53235         5434       45482                NaN           NaN            NaN            NaN                 NaN                  NaN                         NaN                    NaN                       NaN                          NaN                                37
mean              512709.123453               NaN          NaN         NaN       1.265113e+06  2.500624e+05     250.167109            0.0           21.995881             0.014708                    0.072180               0.022241                  7.020602                    27.804379                               NaN
std                74672.224659               NaN          NaN         NaN       1.301688e+06  2.597736e+05    2072.776386            0.0          516.616383             0.133270                    0.958262               0.199638                 29.465096                   682.738057                               NaN
min                13174.000000               NaN          NaN         NaN       0.000000e+00  0.000000e+00       0.000000            0.0            0.000000             0.000000                    0.000000               0.000000                 -1.000000                    -1.000000                               NaN
25%               450203.500000               NaN          NaN         NaN       9.000000e+04  0.000000e+00       0.000000            0.0            0.000000             0.000000                    0.000000               0.000000                  5.360000                    -1.000000                               NaN
50%               534961.000000               NaN          NaN         NaN       1.031000e+06  2.076192e+05     142.000000            0.0            6.150000             0.000000                    0.000000               0.000000                  5.990000                    -1.000000                               NaN
75%               555194.500000               NaN          NaN         NaN       1.957000e+06  3.937666e+05     246.000000            0.0            9.710000             0.000000                    0.000000               0.000000                  7.800000                    -1.000000                               NaN
max               581992.000000               NaN          NaN         NaN       3.683200e+07  5.285000e+06  201669.870000            0.0        17400.000000             4.000000                   25.000000              13.000000               1572.000000                 17400.000000                               NaN

In [ ]:
train.dtypes

AggDatePersonModalityId          int64
EventType                       object
AggStartDate                    object
AggModality                     object
AggDistanceMetres                int32
AggCo2Grams                    float64
AggCo2GramsKm                  float64
AggFuelLiters                    int64
AggFuelLiters100Km             float64
AggCarDamagesNumber              int64
AggStandardFuelLiters100Km     float64
AggTrafficFinesNumber            int64
AggCustomizedConsumption       float64
AggStandard_kWh_Consumption    float64
MaskedUserId                    object
Aggmodality                     object
dtype: object

In [ ]:
print(pd.isnull(test).sum())

AggDatePersonModalityId           0
EventType                         0
AggStartDate                      0
AggModality                       0
AggDistanceMetres                 0
AggCo2Grams                       0
AggCo2GramsKm                     0
AggFuelLiters                     0
AggFuelLiters100Km                0
AggCarDamagesNumber               0
AggStandardFuelLiters100Km        0
AggTrafficFinesNumber             0
AggCustomizedConsumption       1355
AggStandard_kWh_Consumption    1355
MaskedUserId                      0
dtype: int64

In [ ]:
print(pd.isnull(train).sum())

AggDatePersonModalityId          0
EventType                        0
AggStartDate                     0
AggModality                      0
AggDistanceMetres                0
AggCo2Grams                      0
AggCo2GramsKm                    0
AggFuelLiters                    0
AggFuelLiters100Km               0
AggCarDamagesNumber              0
AggStandardFuelLiters100Km       0
AggTrafficFinesNumber            0
AggCustomizedConsumption       559
AggStandard_kWh_Consumption    559
MaskedUserId                     0
Aggmodality                      0
dtype: int64

In [ ]:
#Het opgeschoonde
test

In [ ]:
train